/* CSS Externo */

/* Setup inicial pagina */
html, body {
    padding: 0;
    font-family: "Poppins", "Arial", "Verdana", sans-serif;
    /* font-family: 'Kanit', sans-serif; */
    background-color: #fff;
}

.p {
    /* 1em = 16px - compatibilidade */
    font-size:  1.5em;

    /* center, right, left, justify */
    text-align: left;

    /* lowercase, uppercase, capitalize */
    text-transform: lowercase;

    /* "dois dedinhos de paragrafo" */
    text-indent: 50px;

    /* left to right (ltr), right to left (rtl) */
    direction: ltr;

    /* Espaçamento entre letras, palavras e linhas */
    letter-spacing: 2px;
    word-spacing: 20px;
    line-height: 30px;

    /* underline, line-through, overline, none */
    text-decoration: none;

    /* italic, normal  */
    font-style: normal;

    /* small-caps para fonte menor em capslock */
    font-variant:normal;

    /* sombra no texto */
    text-shadow: 1px 2px 10px #888;

    /* 'família' da fonte */
    font-family: "Poppins", sans-serif;

    /* espessura da fonte, 100 ao 900 ou bold/bolder */
    font-weight: 100;
}


.texto-negrito {
    font-weight: 900;
}

.texto-italico {
    font-style: italic;
}

.texto-pequeno {
    font-variant: small-caps;
}

.texto-riscado {
    text-decoration: line-through;
}

.texto-sublinhado {
    text-decoration: underline;
}

.texto-marcado {
    background-color: #ffff00;
}

#meuNome {
    background-color: #0000ff;
    color: #fff;
}

/* Adicionando Backgrounds */

/* linear-gradiente (linear), radial-gradient (do centro para fora) */
#pageContent {
    background: linear-gradient(276deg, rgba(0,139,184,1), rgba(27,3,71, 1));
    padding: 50px 50px 50px 50px;
}

/* font: style, variant, weigth, size/line-height, family */
.text-overlay{
    font: normal normal 300 1em/1em "Poppins";
    color: #fff;
}

/* background image: url da imagem */
/* background-repeat: permite repetição caso a imagem seja pequena */
/* background-attachment: fixed - parallax effect */
/* background-size: cover - cobrir todo o background  */
#pageContentImage {
    background: url('https://free4kwallpapers.com/uploads/originals/2019/11/18/hyperion-space-wallpaper.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 25%;
}

/* padding: top right bottom left; */
/* padding: vertical horizontal; */
/* padding: all; */
/* backdrop-filter - aplicar somente ao background algum efeito*/
/* backdrop-filter - blur (px), brightness, contrast, grayscale, hue-rotate(10deg), invert, sepia, saturate;*/
#pageContentBlur {
    padding: 50px 50px 50px 50px;
    backdrop-filter: blur(2px);
}

#divHeader {
    font: normal normal 300 0.9em/1em "Arial";
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(276deg, rgba(0,139,184,1), rgba(27,3,71, 1));
    color: #fff;
    margin-top: -10px;
    padding: 20px 0px;
}
