/* CSS Externo */

/* Setup inicial pagina */
html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", "Arial", "Verdana", sans-serif;
    /* font-family: 'Kanit', sans-serif; */
    background-color: #fff;
}

.p {
    /* 1em = 16px - compatibilidade */
    font-size:  1.5em;

    /* center, right, left, justify */
    text-align: left;

    /* lowercase, uppercase, capitalize */
    text-transform: lowercase;

    /* "dois dedinhos de paragrafo" */
    text-indent: 50px;

    /* left to right (ltr), right to left (rtl) */
    direction: ltr;

    /* Espaçamento entre letras, palavras e linhas */
    letter-spacing: 2px;
    word-spacing: 20px;
    line-height: 30px;

    /* underline, line-through, overline, none */
    text-decoration: none;

    /* italic, normal  */
    font-style: normal;

    /* small-caps para fonte menor em capslock */
    font-variant:normal;

    /* sombra no texto */
    text-shadow: 1px 2px 10px #888;

    /* 'família' da fonte */
    font-family: "Poppins", sans-serif;

    /* espessura da fonte, 100 ao 900 ou bold/bolder */
    font-weight: 100;
}


.texto-negrito {
    font-weight: 900;
}

.texto-italico {
    font-style: italic;
}

.texto-pequeno {
    font-variant: small-caps;
}

.texto-riscado {
    text-decoration: line-through;
}

.texto-sublinhado {
    text-decoration: underline;
}

.texto-marcado {
    background-color: #ffff00;
}

#meuNome {
    background-color: #0000ff;
    color: #fff;
}

/* Adicionando Backgrounds */

/* linear-gradiente (linear), radial-gradient (do centro para fora) */
#pageContent {
    background: linear-gradient(276deg, rgba(0,139,184,1), rgba(27,3,71, 1));
    padding: 50px 50px 50px 50px;
}

/* font: style, variant, weigth, size/line-height, family */
.text-overlay{
    font: normal normal 300 1em/1em "Poppins";
    color: #fff;
}

/* background image: url da imagem */
/* background-repeat: permite repetição caso a imagem seja pequena */
/* background-attachment: fixed - parallax effect */
/* background-size: cover - cobrir todo o background  */
#pageContentImage {
    background: url('https://free4kwallpapers.com/uploads/originals/2019/11/18/hyperion-space-wallpaper.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 25%;
}

/* padding: top right bottom left; */
/* padding: vertical horizontal; */
/* padding: all; */
/* backdrop-filter - aplicar somente ao background algum efeito*/
/* backdrop-filter - blur (px), brightness, contrast, grayscale, hue-rotate(10deg), invert, sepia, saturate;*/
#pageContentBlur {
    padding: 50px 50px 50px 50px;
    backdrop-filter: blur(2px);
}

#divHeader {
    font: normal normal 300 0.9em/1em "Arial";
    text-transform: uppercase;
    text-align: left;
    background: linear-gradient(276deg, rgba(0,139,184,1), rgba(27,3,71, 1));
    color: #fff;
    margin-top: 0;
    padding: 20px 40px;
}

#divMenu {
    margin: 0;
    padding: 0;
}


ol {
    /* list-stype-type: lower-roman; corrigir*/
    list-style-position: outside;
}

/* list-style-type: square, circle, upper-roman, lower-roman, upper-alpha, lower-alpha */
nav #divMenu ul {
    list-style-type: none;
    text-align: right;
    background-color: #333333;
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    position: relative;
}

/* display: none, block, inline */
nav #divMenu ul li {
    display: inline;
}

/* estilizando link */
nav #divMenu ul li a {
    text-decoration: none;
    text-transform: lowercase;
    color: #fff;
    font-weight: 400;
    padding: 10px 30px;
}

/* efeito ao passar o mouse sobre o elemento */
nav #divMenu ul li a:hover {
    color: #333333;
    transition: all 1s;
    background-color: #ddd;
}

a i{
    margin-right: 10px;
}

#minhaLista ul{
    list-style-type: none;
    width: 30%;
}

#minhaLista ul li{
    font-size: 1.5em;
    background-color: #ddd;
    margin-top: 3px;
    padding: 20px 40px;
}

#minhaLista ul li:hover{
    background-color: #444;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
}

/* Border-width: thin, medium, thick - PX; */
/* Border-style: solid, dashed, dotted, hidden, groove, ridge, inset, outset; */

#divBordas {
    margin: 5% 25%;
    padding: 2% 10%;
    border-width: 20px;
    border-color: rgba(0,139,184,1);
    border-style: solid;
    border-radius: 100%;
}

/* border shorthand - border: width style color; */

#imgThanos {
    border-radius: 5px;
    border: 30px solid #444;
}

#secaoTabela{
    padding: 0px 10%;
    background-color: #fff;
}

/* border-collapse: separate (borda separada), collapse (tudo junto) */

#tabelaBordas{
    text-align: center;
    margin: auto;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 2px;
}


#tabelaBordas caption{
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    font-size: 1.6em;
    background: linear-gradient(276deg, rgba(27,3,71, 1), rgba(0,139,184,1));
}

#tabelaBordas th{
    background-color: #666;
    padding: 10px 0px;
    color: #fff;
}

#tabelaBordas td {
    background-color: #ddd;
    padding: 10px 0px;
}

#tabelaBordas td:hover {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

#sectionForm{
    padding: 2% 10%;
}

#formLogin{
    color: #fff;
    font-family: 'Segoe UI';
    font-weight: 500;
    text-transform: uppercase;
    margin: auto;
    padding: 10% 10%;
    background: linear-gradient(315deg, rgba(28,11,59,1) 0%, rgba(46,51,52,1) 100%);
    box-shadow: 2px 2px 10px #eee;
    border-radius: 10px;
}

.input-group, .input-group-2{
    margin: 20px 20px;
}


#formLogin .input-group input {
    font-family: 'Segoe UI';
    border: none;
    padding: 15px 20px;
    font-size: 0.9em;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.3);
    font-weight: 200;
    width: 100%;
    background-color: rgba(255,255,255, 0.1);
    color: rgba(255,255,255, 0.4);
    margin-top: 10px;
}

#formLogin .input-group input:hover{
    cursor: pointer;
}

#formLogin .input-group input:focus {
    outline: none;
    color: #fff;
    transition: all 1s;
}

#formLogin .input-group-2 input{
    background: transparent;
    font-family: 'Segoe UI';
    border: none;
    border-bottom: 2px solid #bbb;
    padding: 5px 5px;
    font-size: 0.9em;
    margin-left: 20px;
    width: 100%;
}

#formLogin .input-group-2 input:focus{
    outline: none;
    border-bottom: 2px solid #000;
    transition: all 1s;
}

#formLogin .buttons-group {
    float: right;
}

#formLogin .buttons-group button i{
    margin-right: 5px;
}


#formLogin .buttons-group button {
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0, 0.3);
    color: #fff;
}

#formLogin .buttons-group button[type="reset"]{
    background-color: #a6443c;
}

#formLogin .buttons-group button[type="submit"]{
    background-color: #237d59;
}

#formLogin .buttons-group button:focus{
    outline: none;
}

#formLogin .buttons-group button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px #000;
    transition: all 1s;
}

#formLogin .buttons-group button[type="submit"]:hover{
    background-color: #237d59;
    transition: all .5s;
}

#formLogin .buttons-group button[type="reset"]:hover{
    background-color: #a6443c;
    transition: .5s;
}

/* comment */
